# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# FVM Version Cache
.fvm/

ios/Runner/Environment.swift
android/secret.properties
.env
assets/fonts/Murecho/Murecho-Black.ttf
assets/fonts/Murecho/Murecho-Bold.ttf
assets/fonts/Murecho/Murecho-ExtraBold.ttf
assets/fonts/Murecho/Murecho-ExtraLight.ttf
assets/fonts/Murecho/Murecho-Light.ttf
assets/fonts/Murecho/Murecho-Medium.ttf
assets/fonts/Murecho/Murecho-Regular.ttf
assets/fonts/Murecho/Murecho-SemiBold.ttf
assets/fonts/Murecho/Murecho-Thin.ttf
assets/fonts/Noto_Sans/NotoSansJP-Black.ttf
assets/fonts/Noto_Sans/NotoSansJP-Bold.ttf
assets/fonts/Noto_Sans/NotoSansJP-ExtraBold.ttf
assets/fonts/Noto_Sans/NotoSansJP-ExtraLight.ttf
assets/fonts/Noto_Sans/NotoSansJP-Light.ttf
assets/fonts/Noto_Sans/NotoSansJP-Medium.ttf
assets/fonts/Noto_Sans/NotoSansJP-Regular.ttf
assets/fonts/Noto_Sans/NotoSansJP-SemiBold.ttf
assets/fonts/Noto_Sans/NotoSansJP-Thin.ttf
